<!DOCTYPE html>
<html>
  <head>
  <title>Talleres de ciclo escolar</title>
   <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1 id=saludo> Hola como estas</h1>
    <%= yield %>
  </body>
</html>