<h1> Taller de <%= @name %></h1>

<p><%= @description %></p>


<div>
  <button><a href="/edit/<%= @name%>">Editar taller</a></button><br>
  <form action="/<%= @name%>" method="post">
    <fieldset>
      <input type="hidden" name="_method" value="delete" />
      <input type="submit" value="Borrar">
    </fieldset>
  </form>
</div>
